<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AGFeedbackCompanyName</key>
	<string>Araelium Group</string>
	<key>AGFeedbackURL</key>
	<string>https://www.araelium.com/support/feedback</string>
	<key>BuildMachineOSBuild</key>
	<string>24D70</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>DMG Canvas</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dmgCanvas</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocumentIcon.icns</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Disk Image Template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.araelium.dmgcanvas.diskImageTemplate</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>DMG Canvas</string>
	<key>CFBundleHelpBookFolder</key>
	<string>DMGCanvasHelp.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.araeliumgroup.dmgcanvas.help</string>
	<key>CFBundleIconFile</key>
	<string>App Icon</string>
	<key>CFBundleIconName</key>
	<string>App Icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.araelium.dmgcanvas</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DMG Canvas</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>401005</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>24C94</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>15.2</string>
	<key>DTSDKBuild</key>
	<string>24C94</string>
	<key>DTSDKName</key>
	<string>macosx15.2</string>
	<key>DTXcode</key>
	<string>1620</string>
	<key>DTXcodeBuild</key>
	<string>16C5032a</string>
	<key>INIntentsSupported</key>
	<array>
		<string>DBStartBuildingIntent</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>DBStartBuildingIntent</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DMG Canvas Document</string>
			<key>UTTypeIconFile</key>
			<string>DocumentIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string></string>
				<key>UTTypeIconBadgeName</key>
				<string>DMGCanvasIcon</string>
				<key>UTTypeIconText</key>
				<string>DMG</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.araelium.dmgcanvas.diskImageTemplate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dmgCanvas</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
